

body{
  font-family: 'Avenir Next', sans-serif;
  color: #28384D
}

h1, h2, h3, .h1, .h2, .h3{font-weight: normal}

p{color: #747f8c}
.p1{font-size: 1.75rem;}
.p2{font-size: 1.2rem}
.p2>a{color: #41aaff}

.font1{color: #82eaa9; font-weight: 600} /* vert */
.font2{color: #f2a54e; font-weight: 600} /* jaune */
.font3{color: #41aaff; font-weight: 600} /* bleu */
.font4{color: #AD97EF; font-weight: 600} /* bleu */
.font5{color: #FF5D5D; font-weight: 600} /* bleu */
.font6{color: #F1F5F9; font-weight: 600} /* blanc */

.color1{color: #747f8c} /* gris */
.color2, .color2:hover{color: #40454d} /* gris2 */


.btn{padding: .6rem 1.3rem; border-radius: 1rem; white-space: normal;

}

.form-control{
  padding: 1em;
  border: solid #f0ebf4 2px;
  border-radius: 3px;
}
.fleche-btn{
    position: absolute;
    top: -35px;
    right: -30px;
    width: 25px;
    height: 26px;
}
.fleche-btn2{
    position: absolute;
    top: -35px;
    left: -30px;
    width: 25px;
    height: 26px;
    transform: rotate(280deg);
}
/*------------------------------------------*/

/* Menu */
@media (max-width: 992px) {
  .navbar-nav{
  background-color: #ebf7ff;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  }
}
.dropdown-menu{
  background-color: transparent;
  border-width:0;
}
@media (min-width: 992px) {
.dropdown-menu{
  left: 100%;  
  margin-left: -290px;
  width: 450px;
}
}
.dropdown-menu a, .dropdown-menu a:hover{
  color: #F1F5F9;
  border-radius: 5px;
  margin-bottom: 8px;
  transition: background-color 350ms ease-in-out;
}
.dropdown-menu>a:nth-child(1){background-color: #82eaa9}
.dropdown-menu>a:nth-child(1):hover{background-color: #72db95}
.dropdown-menu>a:nth-child(2){background-color: #f2a54e}
.dropdown-menu>a:nth-child(2):hover{background-color: #ea9847}
.dropdown-menu>a:nth-child(3){background-color: #40a9ff}
.dropdown-menu>a:nth-child(3):hover{background-color: #35a4ef}

.dropdown-menu>a>img{
    width: 100px;
    padding: 3px;
  }
/*------------------------------------------*/

/* Quel service */
#quelservice1>div a, #quelservice2 div a, #quelservice1>div a h3, #quelservice2 div a h3 {
  transition: background-color 300ms ease-in-out;
  text-decoration: none;
  color: #28384D;
  font-weight: 400
}
#quelservice1>div:nth-child(1) a:hover{background-color: #f0ffed}
#quelservice1>div:nth-child(2) a:hover{background-color: #fff7f0}
#quelservice1>div:nth-child(3) a:hover{background-color: #f0faff}
#quelservice2>div:nth-child(1) a:hover{background-color: #f2f0ff}
#quelservice2>div:nth-child(2) a:hover{background-color: #ffebeb}
/*------------------------------------------*/

/* Appelez */
.wheels {
    height: 130px;
    margin-top: 0px;
    margin-bottom: 1px;
    background-image: url(img/wheels.svg);
    background-position: 50% 50%;
    background-size: 700px 130px;
    background-repeat: repeat-x;
}
#call{background-color: #82eaa9}
#call>div>div{min-height: 400px}

/*------------------------------------------*/

/* Footer */
footer{
  background-color: #40a9ff;
  min-height: 450px;
}

footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
@media (max-width: 720px) {
  footer ul{
  list-style-type: none;
  display: block;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  }
}

footer a{
  color: #a9dcff
}
footer a:hover{
  color: rgba(0,0,0,.4);
}
footer a.active{
  color: rgba(0,0,0,.4);
}
/*------------------------------------------*/


ul.liste1 li{
  list-style-type: none;
  padding: 0
}
ul.liste1 li:before{
content:''; 
display:inline-block; 
height:1em; 
width:1em; 
background-image:url('img/check.svg'); 
background-size:contain; 
background-repeat:no-repeat; 
padding-left: 2em; 
}
ul.liste2 li{
  list-style-type: none;
}
/*------------------------------------------*/

.contact{
  background-color: #faf7ff;
  border: solid #f0ebf4 2px;
  border-radius: 3px
}





