<section>
<article id="call">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <p class="col-md-6 h2 pt-md-0 pt-5 mb-md-0 mb-5">Besoin d'un <span class="font6">devis, rapidement</span> ?
      <span class="font6">Appelez</span> notre équipe !</p>
      <div class="col-md-6 text-center pb-md-0 pb-5">
       <a href="tel:+330142453540"> <button class="btn btn-light position-relative" type="button">
          <img src="{{site.baseurl}}/img/arrow2.svg" class="fleche-btn">
          <img src="{{site.baseurl}}/img/arrow2.svg" class="fleche-btn2">
          <span class="h3 font1">01 42 45 35 40</span>
        </button></a>
      </div>
    </div>
  </div>
  <div class="wheels-"></div>
</article>
</section>